################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw1/.vs/kwo227 WebCrawler/v15/Browse.VC.opendb
